{extend name="./en" /}

{block name="title"}{$title}{/block}
{block name="main"}
<link rel="stylesheet" href="/hdy/css/zuji.css?1">
<!-- 内容区域 -->
<div class="item-content-wrap case-item">
    <div class="heart container">
        <div class="row">
            <p class="col-xs-12 big-line-title">Regions</p>

            <div class="col-sm-12 col-xs-12 cont-left">
                <div style=" margin:0 auto; max-width:1100px; overflow: auto;">
                    <div class="map-content map-branch">
                        <div class="map-module">
                            <div class="map-content-info">
                                <div class="branch-map-l">
                                    <div class="map-content-box"><span class="map-dot tianjin" data-id="tianjin" value="库尔勒">&nbsp;</span>
                                        <span class="map-dot shanghai cur" data-id="shanghai" value="上海" style="display:none;"></span>
                                        <span class="map-dot jiangsu  cur" data-id="jiangsu" value="上海">&nbsp;</span>
                                        <span class="map-dot zhejiang" data-id="zhejiang" value="台湾">&nbsp;</span>
                                        <span class="map-dot anhui" data-id="anhui" value="金华">&nbsp;</span>
                                        <span class="map-dot fujian" data-id="fujian" value="珠江">&nbsp;</span>
                                        <span class="map-dot jiangxi" data-id="jiangxi" value="南宁">&nbsp;</span>
                                        <span class="map-dot shandong" data-id="shandong" value="青岛">&nbsp;</span>
                                        <span class="map-dot henan" data-id="henan" value="郑州">&nbsp;</span>
                                        <span class="map-dot hubei" data-id="hubei" value="海德拉巴">&nbsp;</span>
                                        <span class="map-dot guangdong" data-id="guangdong" value="迪拜">&nbsp;</span>
                                        <span class="map-dot guangxi" data-id="guangxi" value="美国孟菲斯">&nbsp;</span>
                                        <span class="map-dot yunnan" data-id="yunnan" value="美国丹佛">&nbsp;</span>
                                        <span class="map-dot jia1" data-id="jia1" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia2" data-id="jia2" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia4" data-id="jia4" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia5" data-id="jia5" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia6" data-id="jia6" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia7" data-id="jia7" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia9" data-id="jia9" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia10" data-id="jia10" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia11" data-id="jia11" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia12" data-id="jia12" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia13" data-id="jia13" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia14" data-id="jia14" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia15" data-id="jia15" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia16" data-id="jia16" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia17" data-id="jia17" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia18" data-id="jia18" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia19" data-id="jia19" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia20" data-id="jia20" value="吉林">&nbsp;</span>

                                    </div>
                                    <div class="branch-map-data" id="company_jia1">
                                        <div class="branch-map-data-title">
                                            <p>Jilin, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/43" target="_blank">
                                                    <p class="data-name">Cha Gan Lake Airport City Master Plan</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia2">
                                        <div class="branch-map-data-title">
                                            <p>Tongzhou, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/44" target="_blank">
                                                    <p class="data-name">Xianghe GA Industrial Town Conceptual Planning and Urban Design </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia4">
                                        <div class="branch-map-data-title">
                                            <p>Guangdong, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/50" target="_blank">
                                                    <p class="data-name">Guangzhou Airport Industrial Park Headquarter Function Study </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia5">
                                        <div class="branch-map-data-title">
                                            <p>Bangkok, Thailand</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Bangkok Suvarnabhumi Aerotropolis</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia6">
                                        <div class="branch-map-data-title">
                                            <p>Pataya, Thailand</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Thailand Eastern Economic Corridor</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia7">
                                        <div class="branch-map-data-title">
                                            <p>Jakarta, Indonesia</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Jakarta International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia9">
                                        <div class="branch-map-data-title">
                                            <p>Medan, Indonesia</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Kuala Namu International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia10">
                                        <div class="branch-map-data-title">
                                            <p>Delhi, India</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia10.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Delhi International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia11">
                                        <div class="branch-map-data-title">
                                            <p>Durban, South Africa</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia11.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Durban International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia12">
                                        <div class="branch-map-data-title">
                                            <p>Johannesburg, South Africa</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Johannesburg International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia13">
                                        <div class="branch-map-data-title">
                                            <p>Moscow, Russia</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia13.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Moscow Domodedovo Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia14">
                                        <div class="branch-map-data-title">
                                            <p>Minas Gerais, Brazil</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia14.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Brazil State of Minas Gerais (Belo Horizonte)</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia15">
                                        <div class="branch-map-data-title">
                                            <p>Panama City, Panama</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia15.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Panama City (Panama) Airport and Panatropolis</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia16">
                                        <div class="branch-map-data-title">
                                            <p>Atlanta, the United States</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Atlanta Hartsfield Jackson International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia17">
                                        <div class="branch-map-data-title">
                                            <p>Wayne, the United States</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia17.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Detroit International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia18">
                                        <div class="branch-map-data-title">
                                            <p>Quebec, Canada</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Québec City Jean Lesage International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia19">
                                        <div class="branch-map-data-title">
                                            <p>Indianapolis, the United States</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Indianapolis International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia20">
                                        <div class="branch-map-data-title">
                                            <p>Philadelphia, the United States</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia20.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">Philadelphia International Airport</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_guangdong">
                                        <div class="branch-map-data-title">
                                            <p>Dubai, the United Arab Emirates</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/32" target="_blank">
                                                    <p class="data-name">Dubai World Central Aerotropolis </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_shandong">
                                        <div class="branch-map-data-title">
                                            <p>Shandong, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/39" target="_blank">
                                                    <p class="data-name">Qingdao Jiaozhou Airport Economic Zone Master Plan</p>
                                                </a>
                                                <a href="/casean/id/41" target="_blank">
                                                    <p class="data-name">Qingdao Pingdu Airport Economic Zone Master Plan </p>
                                                </a>
                                                <a href="//caseane/id/47" target="_blank">
                                                    <p class="data-name">Qingdao Jiaodong International Airport Economic Zone Ecological and Smart Residence Area Planning</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jiangsu">
                                        <div class="branch-map-data-title">
                                            <p>Shanghai, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/36" target="_blank">
                                                    <p class="data-name">Shanghai Zhuqiao Airport City (East Railway Station Hub) Core Area Urban Design</p>
                                                </a>
                                                <a href="/casean/id/38" target="_blank">
                                                    <p class="data-name">Disney South Area Conceptual Urban Design</p>
                                                </a>
                                                <a href="/casean/id/45" target="_blank">
                                                    <p class="data-name">Xinchang Town Metro Line 16 Core Area PDS2—0101 Unit Conceptual Design</p>
                                                </a>
                                                <!-- <a href="http://www.aicthink.com/Projects/Featured/173.html" target="_blank">
                                                    <p class="data-name">Urban Design for Surrounding Areas of East Zhoupu Station, Metro Line 16</p>
                                                </a>
                                                <a href="http://www.aicthink.com/Projects/Featured/175.html" target="_blank">
                                                    <p class="data-name">Shanghai Pudong International Airport Aerotropolis Buisness Site Development Study</p>
                                                </a>
                                                <a href="http://www.aicthink.com/Projects/Featured/163.html" target="_blank">
                                                    <p class="data-name">Chuansha City Sub-Center Functional Research and Space Planning</p>
                                                </a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_zhejiang">
                                        <div class="branch-map-data-title">
                                            <p>Taiwan, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/35" target="_blank">
                                                    <p class="data-name">Taiwan Taoyuan Aerotropolis Planning</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_tianjin">
                                        <div class="branch-map-data-title">
                                            <p>Korla, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/42" target="_blank" title="">
                                                    <p class="data-name">Korla Airport Economic Zone Strategy and Industry Planning </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_hubei">
                                        <div class="branch-map-data-title">
                                            <p>Hyderabad, India</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/34" target="_blank" title="">
                                                    <p class="data-name">Hyderabad Airport City and Aerotropolis</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jiangxi">
                                        <div class="branch-map-data-title">
                                            <p>中国·南宁</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">吴圩航空城功能布局研究 </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_henan">
                                        <div class="branch-map-data-title">
                                            <p>Henan, Zhengzhou</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/40" target="_blank">
                                                    <p class="data-name">Zhengzhou International Higher Education and Innovation Complex Urban Design</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_anhui">
                                        <div class="branch-map-data-title">
                                            <p>Zheyang, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/48" target="_blank">
                                                    <p class="data-name">Wuyi General Aviation Park Design</p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_guangxi">
                                        <div class="branch-map-data-title">
                                            <p>Memphis, the United States</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/33" target="_blank">
                                                    <p class="data-name">Memphis Aerotropolis Strategic Planning</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_fujian">
                                        <div class="branch-map-data-title">
                                            <p>Guangdong, China</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/49" target="_blank">
                                                    <p class="data-name">Zhuhai Airport Economic Park Bailong River Waterfront District Function Study</p>
                                                </a>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="branch-map-data" id="company_yunnan">
                                        <div class="branch-map-data-title">
                                            <p>Denver, the United States</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/31" target="_blank">
                                                    <p class="data-name">Denver Airport City and Aerotropolis </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- 内容区域 -->
<script type="text/javascript">
    $(function () {
        if ($(".map-branch")) {
            //默认显示上海
            $(".map-dot.shanghai").addClass("cur");
            $("#company_shanghai").show().css({
                "left": $(".map-dot.shanghai").position().left + 36,
                "top": $(".map-dot.shanghai").position().top - $("#company_shanghai").height() / 2 +
                    8
            });
            $(".map-dot").on("mouseover", function () {
                $(this).addClass("cur").siblings(".map-dot").removeClass("cur");
            });
            $(".map-dot").on("click", function () {
                $(this).addClass("cur").siblings(".map-dot").removeClass("cur");
                var dataid = $(this).attr("data-id"),
                    comp = $("#company_" + dataid),
                    otherComp = $("#company_" + dataid).siblings(".branch-map-data");
                comp.fadeIn("fast").css({
                    "left": $(this).position().left + 36,
                    "top": $(this).position().top - comp.height() / 2 + 8
                });
                otherComp.hide();
            });
            $(".branch-map-data").on("mouseleave", function () {
                $(this).hide();
                $(".map-dot").removeClass("cur");
            });
        }
    });

</script>
{/block}