

{extend name="./en" /}

{block name="title"}{$title}{/block}
{block name="main"}
<!-- 导航条 -->
<!-- 内容区域 -->
<div class="item-content-wrap">
    <div class="heart container doc search-wrap">
        <div class="row s-con-top">
            Search&nbsp;<span>{$conten}</span>&nbsp;result
        </div>

        <div class="row s-con">
            <div class="col-xs-12 col-sm-9 s-con-left">
                {if $news && $casean}
                {volist name="news" id="vo"}
                <div class="row search">
                    <h3 class="search-title"><a href="/newsxqe/id/{$vo.ne_id}" target="_blank">{$vo.ne_title}</a></h3>
                    <p class="search-description">{$vo.brief}
                    </p>

                    <span class="search-info">
                                <small>Class：</small><a style="color: #428C5B;" href="/newsliste"
                                                     target="_blank">News</a>
                                <small>Click：</small>{$vo.ne_click}
                                <small>Date：</small>{$vo.ne_time}
                            </span>
                </div>
                {/volist}
                {volist name="casean" id="vo"}
                <div class="row search">
                    <h3 class="search-title"><a href="/caseane/id/{$vo.cd_id}" target="_blank">{$vo.cd_title}</a></h3>
                    <p class="search-description">{$vo.cd_brief}
                    </p>

                    <span class="search-info">
                                <small>Class：</small><a style="color: #428C5B;" href="/caseliste/id/17"
                                                     target="_blank">Case</a>
                                <small>Click：</small>{$vo.cd_click}
                                <small>Date：</small>{$vo.cd_times}
                            </span>
                </div>
                {/volist}
                {elseif empty($news)}
                {volist name="casean" id="vo"}
                <div class="row search">
                    <h3 class="search-title"><a href="/caseane/id/{$vo.cd_id}" target="_blank">{$vo.cd_title}</a></h3>
                    <p class="search-description">{$vo.cd_brief}
                    </p>

                    <span class="search-info">
                                <small>Class：</small><a style="color: #428C5B;" href="/caseliste/id/17"
                                                     target="_blank">Case</a>
                                <small>Click：</small>{$vo.cd_click}
                                <small>Date：</small>{$vo.cd_times}
                            </span>
                </div>
                {/volist}
                {elseif empty($casean)}
                {volist name="news" id="vo"}
                <div class="row search">
                    <h3 class="search-title"><a href="/newsxqe/id/{$vo.ne_id}" target="_blank">{$vo.ne_title}</a></h3>
                    <p class="search-description">{$vo.brief}
                    </p>

                    <span class="search-info">
                                <small>Class：</small><a style="color: #428C5B;" href="/newsliste"
                                                     target="_blank">News</a>
                                <small>Click：</small>{$vo.ne_click}
                                <small>Date：</small>{$vo.ne_time}
                            </span>
                </div>
                {/volist}
                {/if}
                {if !$news && !$casean}
                <div class="page">
                    <p>no data </p>
                </div>


                {/if}


            </div>


            <div class="col-sm-3 col-xs-12 cont-right">
                <p class="color114" style="font-weight:bold;">Recommend</p>
                {volist name="newsa" id="vo"}
                <p>
                    <img class="ico1" src="/hdy/img/ico1.png"> <a href="/newsxqe/id/{$vo.ne_id}">{$vo.ne_title}</a></p>
                {/volist}
                {volist name="caseana" id="vo"}
                <p>
                    <img class="ico1" src="/hdy/img/ico1.png"> <a href="/caseane/id/{$vo.cd_id}">{$vo.cd_title}</a></p>
                {/volist}

                <p class="more color114"><span>More</span></p>

                <p class="share color114">Share</p>
                <div class="bdsharebuttonbox bdshare-button-style0-32" style="height:30px"
                     data-bd-bind="1567499941050">
                    <a class="bds_fbook" style="background:url(/hdy/img/ico2_01.png); width:34px; height:30px;"
                       data-cmd="fbook" href="#" title="分享到Facebook"></a>
                    <a class="bds_twi" style="background:url(/hdy/img/ico2_02.png); width:34px; height:30px;"
                       data-cmd="twi" href="#" title="分享到Twitter"></a>
                    <a class="bds_linkedin"
                       style="background:url(/hdy/img/ico2_03.png); width:34px; height:30px;"
                       data-cmd="linkedin" href="#" title="分享到linkedin"></a>
                    <a class="bds_weixin"
                       style="background:url(/hdy/img/ico2_04.png); width:34px; height:30px;"
                       data-cmd="weixin" href="#" title="分享到微信"></a>
                    <a class="bds_tsina" style="background:url(/hdy/img/ico2_05.png); width:34px; height:30px;"
                       data-cmd="tsina" href="#" title="分享到新浪微博"></a>
                    <a class="bds_mail" style="background:url(/hdy/img/ico2_06.png); width:34px; height:30px;"
                       data-cmd="qzone" href="#" title="分享到QQ空间"></a></div>
                <script>
                    window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "2",
                            "bdMiniList": false,
                            "bdPic": "",
                            "bdStyle": "0",
                            "bdSize": "32"
                        },
                        "share": {}
                    };
                    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement(
                        'script')).src =
                        'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(
                        -new Date() / 36e5)];
                </script>

            </div>

        </div>

    </div>
</div>
<!-- 内容区域 -->
{/block}