{extend name="./cn" /}

{block name="title"}{$title}{/block}
{block name="main"}
<link rel="stylesheet" href="/hdy/css/zuji.css?1">
<!-- 内容区域 -->
<div class="item-content-wrap case-item">
    <div class="heart container">
        <div class="row">
            <p class="col-xs-12 big-line-title">足迹</p>

            <div class="col-sm-12 col-xs-12 cont-left">
                <div style="margin:0 auto; max-width:1100px; overflow: auto;">
                    <div class="map-content map-branch">
                        <div class="map-module">
                            <div class="map-content-info">
                                <div class="branch-map-l">
                                    <div class="map-content-box"><span class="map-dot tianjin" data-id="tianjin"
                                                                       value="库尔勒">&nbsp;</span>
                                        <span class="map-dot shanghai cur" data-id="shanghai" value="上海"
                                              style="display:none;"></span>
                                        <span class="map-dot jiangsu  cur" data-id="jiangsu"
                                              value="上海">&nbsp;</span>
                                        <span class="map-dot zhejiang" data-id="zhejiang"
                                              value="台湾">&nbsp;</span>
                                        <span class="map-dot anhui" data-id="anhui" value="金华">&nbsp;</span>
                                        <span class="map-dot fujian" data-id="fujian" value="珠江">&nbsp;</span>
                                        <span class="map-dot jiangxi" data-id="jiangxi" value="南宁">&nbsp;</span>
                                        <span class="map-dot shandong" data-id="shandong"
                                              value="青岛">&nbsp;</span>
                                        <span class="map-dot henan" data-id="henan" value="郑州">&nbsp;</span>
                                        <span class="map-dot hubei" data-id="hubei" value="海德拉巴">&nbsp;</span>
                                        <span class="map-dot guangdong" data-id="guangdong"
                                              value="迪拜">&nbsp;</span>
                                        <span class="map-dot guangxi" data-id="guangxi"
                                              value="美国孟菲斯">&nbsp;</span>
                                        <span class="map-dot yunnan" data-id="yunnan" value="美国丹佛">&nbsp;</span>
                                        <span class="map-dot jia1" data-id="jia1" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia2" data-id="jia2" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia4" data-id="jia4" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia5" data-id="jia5" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia6" data-id="jia6" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia7" data-id="jia7" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia9" data-id="jia9" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia10" data-id="jia10" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia11" data-id="jia11" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia12" data-id="jia12" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia13" data-id="jia13" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia14" data-id="jia14" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia15" data-id="jia15" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia16" data-id="jia16" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia17" data-id="jia17" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia18" data-id="jia18" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia19" data-id="jia19" value="吉林">&nbsp;</span>
                                        <span class="map-dot jia20" data-id="jia20" value="吉林">&nbsp;</span>

                                    </div>
                                    <div class="branch-map-data" id="company_jia1">
                                        <div class="branch-map-data-title">
                                            <p>吉林·前郭</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="casean/id/22"
                                                   target="_blank">
                                                    <p class="data-name">查干湖空港经济园区总体规划</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia2">
                                        <div class="branch-map-data-title">
                                            <p>通州·香河</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/23"
                                                   target="_blank">
                                                    <p class="data-name">香河通航新城的规划实践</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia4">
                                        <div class="branch-map-data-title">
                                            <p>广东·广州</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="casean/id/30"
                                                   target="_blank">
                                                    <p class="data-name">广州航空港总部产业园功能研究</p>
                                                </a>
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia4.html" target="_blank"> -->
                                                <!-- <a href="#" target="_blank">
                                                        <p class="data-name">广州航空城开发区</p>
                                                    </a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia5">
                                        <div class="branch-map-data-title">
                                            <p>泰国·曼谷</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia5.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">曼谷素万那普航空城</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia6">
                                        <div class="branch-map-data-title">
                                            <!-- <p>泰国·芭提雅</p> -->
                                            <p>泰国·经济特区</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia6.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">泰国东部经济走廊</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia7">
                                        <div class="branch-map-data-title">
                                            <p>印度尼西亚·雅加达</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia7.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">雅加达国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia9">
                                        <div class="branch-map-data-title">
                                            <!-- <p>印度尼西亚·棉兰瓜拉纳姆</p> -->
                                            <p>印度尼西亚·北苏门答腊</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia9.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">棉兰瓜拉纳姆国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia10">
                                        <div class="branch-map-data-title">
                                            <p>印度·德里</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia10.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">德里国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia11">
                                        <div class="branch-map-data-title">
                                            <p>南非·德班</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia11.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">德班国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia12">
                                        <div class="branch-map-data-title">
                                            <p>南非·约翰内斯堡</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia12.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">约翰内斯堡国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia13">
                                        <div class="branch-map-data-title">
                                            <p>俄罗斯·莫斯科</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia13.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">多莫杰多沃国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia14">
                                        <div class="branch-map-data-title">
                                            <p>巴西·米纳斯吉拉斯</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia14.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">孔芬斯国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia15">
                                        <div class="branch-map-data-title">
                                            <p>巴拿马·巴拿马城</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia15.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">巴拿马国际机场及航空城</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia16">
                                        <div class="branch-map-data-title">
                                            <p>美国·亚特兰大</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia16.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">哈兹菲尔德-杰克逊国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia17">
                                        <div class="branch-map-data-title">
                                            <p>美国·底特律</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia17.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">底特律都会韦恩机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia18">
                                        <div class="branch-map-data-title">
                                            <p>加拿大·魁北克</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia18.html" target="_blank"> -->
                                                <a href="#" target="_blank">

                                                    <p class="data-name">魁北克让·勒萨热国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia19">
                                        <div class="branch-map-data-title">
                                            <p>美国·印第安纳波利斯</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia19.html" target="_blank"> -->
                                                <a href="#" target="_blank">

                                                    <p class="data-name">印第安纳波利斯国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jia20">
                                        <div class="branch-map-data-title">
                                            <p>美国·费城</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <!-- 更改 -->
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/jia20.html" target="_blank"> -->
                                                <a href="#" target="_blank">
                                                    <p class="data-name">费城国际机场</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_guangdong">
                                        <div class="branch-map-data-title">
                                            <p>阿联酋·迪拜</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/1"
                                                   target="_blank">
                                                    <p class="data-name">迪拜航空大都市</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_shandong">
                                        <div class="branch-map-data-title">
                                            <p>山东·青岛</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">胶州临空经济区总体规划</p>
                                                </a>
                                                <a href="/casean/id/20"
                                                   target="_blank">
                                                    <p class="data-name">平度临空经济区总体规划</p>
                                                </a>
                                                <a href="/casean/id/26"
                                                   target="_blank">
                                                    <p class="data-name">胶东国际机场生态智能商住区</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jiangsu">
                                        <div class="branch-map-data-title">
                                            <p>中国·上海</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/16"
                                                   target="_blank">
                                                    <p class="data-name">祝桥航空城（综合交通枢纽）核心区城市设计</p>
                                                </a>
                                                <a href="/casean/id/18"
                                                   target="_blank">
                                                    <p class="data-name">迪士尼国际旅游度假区功能及空间布局</p>
                                                </a>
                                                <a href="/casean/id/24"
                                                   target="_blank">
                                                    <p class="data-name">浦东国际机场周边的国际社区规划（新场）</p>
                                                </a>
                                                <!-- <a href="http://www.aicthink.com/womendexiangmu/anli/122.html" target="_blank">
                                                    <p class="data-name">浦东国际机场周边的国际社区规划（周浦）</p>
                                                </a>
                                                <a href="http://www.aicthink.com/womendexiangmu/anli/138.html" target="_blank">
                                                    <p class="data-name">浦东国际机场T型区发展研究</p>
                                                </a>
                                                <a href="http://www.aicthink.com/womendexiangmu/anli/127.html" target="_blank">
                                                    <p class="data-name">川沙城市副中心功能定位与空间布局</p>
                                                </a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_zhejiang">
                                        <div class="branch-map-data-title">
                                            <p>台湾·桃园</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/15"
                                                   target="_blank">
                                                    <p class="data-name">桃园航空城</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_tianjin">
                                        <div class="branch-map-data-title">
                                            <p>新疆·库尔勒</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/21"
                                                   target="_blank" title="">
                                                    <p class="data-name">库尔勒临空经济战略及产业规划</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_hubei">
                                        <div class="branch-map-data-title">
                                            <p>印度·海德拉巴</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/14"
                                                   target="_blank" title="">
                                                    <p class="data-name">海得拉巴航空大都市 </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_jiangxi">
                                        <div class="branch-map-data-title">
                                            <p>中国·南宁</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="#" target="_blank">
                                                    <p class="data-name">吴圩航空城功能布局研究 </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_henan">
                                        <div class="branch-map-data-title">
                                            <p>河南·郑州</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/19"
                                                   target="_blank">
                                                    <p class="data-name">郑州航空港国际科教创新区城市设计</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="branch-map-data" id="company_anhui">
                                        <div class="branch-map-data-title">
                                            <p>浙江·武义</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/27"
                                                   target="_blank">
                                                    <p class="data-name">武义通用航空机场产业功能区的规划实践</p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="branch-map-data" id="company_guangxi">
                                        <div class="branch-map-data-title">
                                            <p>美国·孟菲斯</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/13"
                                                   target="_blank">
                                                    <p class="data-name">孟菲斯航空大都市</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="branch-map-data" id="company_fujian">
                                        <div class="branch-map-data-title">
                                            <p>广东·珠海</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/28"
                                                   target="_blank">
                                                    <p class="data-name">珠海航空产业园白龙河尾滨水区功能研究</p>
                                                </a>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="branch-map-data" id="company_yunnan">
                                        <div class="branch-map-data-title">
                                            <p>美国·丹佛</p>
                                        </div>
                                        <div class="branch-map-data-info">
                                            <div class="data-branch">
                                                <a href="/casean/id/2"
                                                   target="_blank">
                                                    <p class="data-name">丹佛航空城及航空大都市 </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 内容区域 -->
<script type="text/javascript">
    $(function () {
        if ($(".map-branch")) {
            //默认显示上海
            $(".map-dot.shanghai").addClass("cur");
            $("#company_shanghai").show().css({
                "left": $(".map-dot.shanghai").position().left + 36,
                "top": $(".map-dot.shanghai").position().top - $("#company_shanghai").height() / 2 +
                    8
            });
            $(".map-dot").on("mouseover", function () {
                $(this).addClass("cur").siblings(".map-dot").removeClass("cur");
            });
            $(".map-dot").on("click", function () {
                $(this).addClass("cur").siblings(".map-dot").removeClass("cur");
                var dataid = $(this).attr("data-id"),
                    comp = $("#company_" + dataid),
                    otherComp = $("#company_" + dataid).siblings(".branch-map-data");
                comp.fadeIn("fast").css({
                    "left": $(this).position().left + 36,
                    "top": $(this).position().top - comp.height() / 2 + 8
                });
                otherComp.hide();
            });
            $(".branch-map-data").on("mouseleave", function () {
                $(this).hide();
                $(".map-dot").removeClass("cur");
            });
        }
    });


</script>
{/block}