
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中国航空大都市研究院</title>
    <link rel="shortcut icon" href="/hdy/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/hdy/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/hdy/css/reset.css">-->
    <link rel="stylesheet" href="/hdy/css/index.css">
</head>

<body>
<!-- 整体页面 -->
<div class="index-container">
    <!-- 图片盒子 -->
    <div class="index-content">
        <img src="/hdy/img/huanying.png" usemap="#Map" width="300px" style="border: 0;" alt="航都院">
        <map name="Map">
            <area shape="rect" coords="62,209,131,226" onfocus="blur(this)" href="/indexcn">
            <area shape="rect" coords="175,209,244,226" onfocus="blur(this)" href="indexen"> </map> </div>
</div>
<script src="/hdy/js/jq341.js"></script>
<script src="/hdy/js/bootstrap.min.js"></script>
<script src="/hdy/js/index.js"></script>
</body>

</html>